<h1>Trip#new</h1>
<p>Find me in app/views/trip/new.html.erb</p>

<h1>New Trip</h1>

<%= form_for([@itinerary, @trip]) do |f| %>
    <% if @trip.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@trip.errors.count, "error")%> prohibited this trip from being saved:</h2>
            <ul>
            <% @trip.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <p>
            <%= f.label :Confirmationnumber %>
            <br />
            <%= f.text_field :confirmationnumber %>
        </p>
        <p>
            <%= f.label :Starttime %>
            <br />
            <%= f.text_field :starttime %>
        </p>
        <p>
            <%= f.label :Startdate %>
            <br />
            <%= f.text_field :startdate %>
        </p>
        <p>
            <%= f.label :Endtime %>
            <br />
            <%= f.text_field :endtime %>
        </p>
        <p>
            <%= f.label :Enddate %>
            <br />
            <%= f.text_field :enddate %>
        </p>
        <p>
            <%= f.label :Seatnumber %>
            <br />
            <%= f.text_field :seatnumber %>
        </p>
        <p>
            <%= f.label :Carrier %>
            <br />
            <%= f.text_field :carrier %>
        </p>
        <p>
            <%= f.label :Type %>
            <br />
            <%= f.text_field :type %>
        </p>
    </div>
    <div class="actions">
    <%= f.submit %>
    </div>
    <% end %>